[MASTER]
ignore=.ipynb_checkpoints

[MESSAGES CONTROL]
disable=missing-module-docstring, 
        missing-class-docstring,
        missing-function-docstring,
        too-many-instance-attributes

[FORMAT]
max-line-length=120