<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link rel="icon" type="image/x-icon" href="/inc/static/img/devops.png">
<link href="/inc/static/css/styles.css" rel="stylesheet">
<style>
    body {padding:20px;}
</style>
</head>
<body>
<h3>Hangman</h3>
<ul>
    <li><a href="/hangman/singleplayer/local">Singleplayer</a></li>
</ul>
<h3>Battleship</h3>
<ul>
    <li><a href="/battleship/singleplayer">Singleplayer</a></li>
    <li><a href="/battleship/simulation">Simulation</a></li>
</ul>
<h3>Uno</h3>
<ul>
    <li><a href="/uno/singleplayer/">Singleplayer</a></li>
    <li><a href="/uno/simulation">Simulation</a></li>
</ul>
<h3>Dog</h3>
<ul>
    <li><a href="/dog/singleplayer/">Singleplayer</a></li>
    <li><a href="/dog/simulation">Simulation</a></li>
</ul>

</body>
</html>